@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* src/index.css */
body, html {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5EFE7;
  overflow-x: hidden;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; /* centers the content horizontally */
  padding: 0 20px; 
}

/* header */

.header {
  background-color: #F5EFE7;
  color: #007bff;
  display: flex;
  gap: 80%;
}

h2 {
  margin: 12px;
  height: 10px;
}

/* hero banner */

span {
  font-family: 'Borel', serif;
  font-style: italic;
}

#paragraph-span {
  font-family: 'Borel', serif;
  font: 0.5em;
  font-weight: 600;
}

.banner img {
  margin-bottom: 35px;
  width: 30em;
  padding: 30px;
  border-radius: 5px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  margin-bottom: 0;
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5em;
}

.banner {
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-content p {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.banner-content {
  flex-direction: column;
  display: flex;
  margin-bottom: 130px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; /* Modified: Aligns items to the right */
  gap: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

.secondary-button,
.primary-button {
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.primary-button:hover {
  background-color: #0056b3;
}

.secondary-button:hover {
  background-color: #e6f2ff;
  color: #0056b3;
}

.primary-button {
  background-color: #007bff;
  color: white;
  border: none;
  position: relative;
  top: 7rem;
  right: 25rem;
  white-space: nowrap;
  height: 51px;
}

.secondary-button {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  position: relative;
  right: 24.5rem;
  top: 7rem;
  white-space: nowrap;
}

/* gallery */

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-wrapper p {
  margin-left: 12px;
  font-weight: 600;
  font-size: 1.2em;
}

.sub-head {
  height: 0;
  margin: 0;
}

.gallery-section {
  background-color: #C7B299;
  width: 100%;
  height: 24rem;
  padding-top: 40px;
}

.gallery-image {
  width: 280px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  margin-top: 55px;
  border-radius: 5px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer */

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}
